# List , Tuples and Set

## List:- Stores data in the form of indexes.., In list we can store Primitve as wells as non primitive data .

In [1]:
#    0  1   2     3        4      5      6
l = [1,233,45,"Prashant", True, 5+7j, 345.45]

In [2]:
type(l)

list

In [3]:
l[0]

1

In [4]:
l[4]
#HWllo

True

In [5]:
# It will throw this error because when data is not available on any index then it Will throw error list Index Out Of Range ...
l[90]

IndexError: list index out of range

[1, 233, 45, 'Prashant', True, (5+7j), 345.45]

In [6]:
# Slicing In List
#  1   2    3      4         5      6       7
# [1, 233, 45, 'Prashant', True, (5+7j), 345.45]

# Suppose we want data from 1 to 45 then we do l[0:3] why // why it is taking 3 why not 2?
 
# Because it will do (UpperBond - 1) so when we want data till 3 (3 - 1 = 2) so it will choose upto index 2.

In [7]:
l[0:3]

[1, 233, 45]

In [8]:
l[-1]

345.45

In [9]:
l[::-1]

[345.45, (5+7j), True, 'Prashant', 45, 233, 1]

In [10]:
# Ques :- Give us the Data which is on Even Indexes ..
 
l[::2]

[1, 45, True, 345.45]

In [11]:
s = "Singh"

In [12]:
l+s # We can't concatenate

TypeError: can only concatenate list (not "str") to list

In [13]:
list(s)

['S', 'i', 'n', 'g', 'h']

In [14]:
list(s) + l # It is not called as a type conversion technically we are trying to break the strings in single word and adding them into the list..

['S', 'i', 'n', 'g', 'h', 1, 233, 45, 'Prashant', True, (5+7j), 345.45]

In [15]:
l
# How w

[1, 233, 45, 'Prashant', True, (5+7j), 345.45]

In [16]:
type(l[3])

str

In [17]:
l[3][0:2]

'Pr'

In [18]:
l[4][0:2] # Here we are trying to slice boolean values and we can't do that ...

TypeError: 'bool' object is not subscriptable

In [19]:
str(l[4])[0:2] # But we can typecast the boolean value and then we can slice that but it is not gonna a boolean value anymore it is string ....

'Tr'

In [20]:
l

[1, 233, 45, 'Prashant', True, (5+7j), 345.45]

In [21]:
l + 5

TypeError: can only concatenate list (not "int") to list

In [22]:
l1 = [3,4,5]

In [23]:
l + l1

[1, 233, 45, 'Prashant', True, (5+7j), 345.45, 3, 4, 5]

In [24]:
l1

[3, 4, 5]

In [25]:
len(l)

7

In [26]:
l.append(5) # It will append that object to the end of the list ...

In [27]:
l

[1, 233, 45, 'Prashant', True, (5+7j), 345.45, 5]

In [28]:
# Append is inbuilt function 
l.append("hello")

In [29]:
l

[1, 233, 45, 'Prashant', True, (5+7j), 345.45, 5, 'hello']

In [30]:
l

[1, 233, 45, 'Prashant', True, (5+7j), 345.45, 5, 'hello']

In [31]:
l1

[3, 4, 5]

In [32]:
l.append(l1)

In [33]:
l

[1, 233, 45, 'Prashant', True, (5+7j), 345.45, 5, 'hello', [3, 4, 5]]

In [34]:
l[-1]

[3, 4, 5]

In [35]:
l[-1][1]

4

In [36]:
l

[1, 233, 45, 'Prashant', True, (5+7j), 345.45, 5, 'hello', [3, 4, 5]]

In [37]:
l.extend(4) # Extend list by appending elements from the iterable.

TypeError: 'int' object is not iterable

In [38]:
l.extend("GOlu")

In [39]:
l

[1,
 233,
 45,
 'Prashant',
 True,
 (5+7j),
 345.45,
 5,
 'hello',
 [3, 4, 5],
 'G',
 'O',
 'l',
 'u']

In [40]:
l.extend([3,4,5]) # Extend unraps the data and then put the data .. If the data is string then firstly it will unrap that and put all the charcters one by one..

In [41]:
l

[1,
 233,
 45,
 'Prashant',
 True,
 (5+7j),
 345.45,
 5,
 'hello',
 [3, 4, 5],
 'G',
 'O',
 'l',
 'u',
 3,
 4,
 5]

In [42]:
l1

[3, 4, 5]

# How we should put the data in the First position... append() and extend() they are both putting the data in  the last position..????

In [43]:
l1

[3, 4, 5]

In [44]:
l1.insert(1,"Prashant") # Insert object before index.

In [45]:
l1

[3, 'Prashant', 4, 5]

In [46]:
l1.insert(2, [2,3,4]) # Insert push the data one step forward and that's how we stores data at our required index..

In [47]:
l1

[3, 'Prashant', [2, 3, 4], 4, 5]

In [48]:
l1.insert(-1, 45)

In [49]:
l1
# Here logically our data need to be in the position of 5 but it is forward and 5 is last but here is the concept 45 is in the correct position it push the data from the place thats why it's showing 5 at last ...

[3, 'Prashant', [2, 3, 4], 4, 45, 5]

In [50]:
l1.insert(0, 45)

In [51]:
l1

[45, 3, 'Prashant', [2, 3, 4], 4, 45, 5]

# How to delete data from list???

In [52]:
l1.pop(0)

# Remove and return item at index (default last).

# Raises IndexError if list is empty or index is out of range.

45

In [53]:
l1

[3, 'Prashant', [2, 3, 4], 4, 45, 5]

In [54]:
l1.pop() # By default pop takes index (index=-1)

5

In [55]:
l1.pop(2)

[2, 3, 4]

In [56]:
l1

[3, 'Prashant', 4, 45]

In [57]:
l1

[3, 'Prashant', 4, 45]

In [58]:
l1

[3, 'Prashant', 4, 45]

In [59]:
l1.insert(-1, 45)

In [60]:
l1

[3, 'Prashant', 4, 45, 45]

In [61]:
l1.pop(4)

45

In [62]:
l1

[3, 'Prashant', 4, 45]

In [63]:
l1.remove(3)

In [64]:
l1

['Prashant', 4, 45]

In [65]:
l1.remove(234)

ValueError: list.remove(x): x not in list